
$white: #fff;
$black: #181818;
$card-bg: #3d3d3d;
$filter-grey: #2d2c2c;
$game-status: #44db5e;
$red: #f44336;
$red-hover: #c7352b;
$circle-border-grey: #575f58;
$green: #5FA068;
$green-hover: #4a7f51;
$blue: #5F9EA0;
$blue-hover: #48797b;
$yellow: #decb22;
$pink: #f77686;
$finished-color: #389e0d;
$finished-bg: #f6ffed;
$finished-border: #b7eb8f;
$canceled-color: #ffadd2;
$canceled-bg: #fff0f6;
$canceled-border: #c41d7f;
$inprogress-color: #d48806;
$inprogress-bg: #fffbe6;
$inprogress-border: #ffe58f;
$notstarted-color: #0958d9;
$notstarted-bg: #e6f4ff;
$notstarted-border: #91caff;
$table-row-hover: #7f7f7f;